.older-posts-grid-wrapper {
    gap: var(--gap);
}

.article-image-wrapper, .older-posts .article {
    min-height: var(--item-min-height-sm);
}

.older-posts .article {
    background-color: var(--secondary-background-color);
}

.article-image-wrapper {
    position: relative;
}

.older-posts-grid-wrapper .article-data-container {
    position: static;
    background: transparent;
}

.older-posts-grid-wrapper .article-title {
    margin-bottom: var(--margin-sm);
}

.see-more-container {
    margin-top: var(--margin-md);
}

.see-more-btn {
    text-transform: uppercase;
}

.see-more-btn:hover i {
    transform: translateX(.5rem);
}

.see-more-btn i {
    transition: transform .25s;
}